<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>String,:</strong>
  <%= @player.string, %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @player.last_name %>
</p>

<p>
  <strong>String,:</strong>
  <%= @player.string, %>
</p>

<p>
  <strong>First name:</strong>
  <%= @player.first_name %>
</p>

<p>
  <strong>String,:</strong>
  <%= @player.string, %>
</p>

<p>
  <strong>Team:</strong>
  <%= @player.team %>
</p>

<p>
  <strong>String,:</strong>
  <%= @player.string, %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>String,:</strong>
  <%= @player.string, %>
</p>

<p>
  <strong>School:</strong>
  <%= @player.school %>
</p>

<p>
  <strong>String,:</strong>
  <%= @player.string, %>
</p>

<p>
  <strong>Nerd:</strong>
  <%= @player.nerd_id %>
</p>

<p>
  <strong>String,:</strong>
  <%= @player.string, %>
</p>

<p>
  <strong>Predicted points:</strong>
  <%= @player.predicted_points %>
</p>

<p>
  <strong>Float:</strong>
  <%= @player.float %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
